/* ---------- GENERAL----------  */

body {
    background-color: #F8FAFE !important;
    color: #1B314B !important;
}
.pss-blue {
    color: #0744DD;
}

body .slim-sidebar {
    background-color: transparent;
    border-right: 1px solid #ced4da61;
    padding: 10px 0;
    width: 215px;
}

body .brand {
    width: 20%
}

body .brand a img {
    height: 52px
}


/* ---------- HEADER ----------  */
body .logged-user img {
    border: unset;
}

body .slim-header {
    border-bottom: 0;
    box-shadow: 0 1px 12px 0 rgba(195, 203, 222, 0.59);
}

body .pss-search-header .form-control {
    padding-left: 0px;
    width: 441px;
}

body .search-box .form-control {
    font-size: 1rem;
}

body .search-box.pss-search-header {
    flex-direction: row-reverse;
    border: 0px; 
    border-radius: 6px;
    box-shadow: 0 1px 3px 1px rgba(127, 131, 155, 0.15), 0 1px 2px 0 rgba(127, 131, 155, 0.3);
}
body .search-box .btn {
    background-color: transparent;
    color: black;
}
body .slim-header span {
    color: #48446F;
    font-size: 16px;
}

body .logged-user div {
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 100%;
    background-color: #E3E8ED;
    text-align: center;
    font-size: 16px;
    color: #48446F;
}

body .logged-user:hover div {
    box-shadow: 0 0 10px rgba(27, 132, 231, 0.2);
}

/* ---------- SIDEBAR ----------  */
body .sidebar-nav-link.active {
    background-color: rgba(7, 68, 221, 0.089);
    background-image: unset;
    color: #0744DD;
    border-radius: 0px 50px 50px 0px;
}
body .nav-sidebar {
    margin-right: 5px;
}

body .sidebar-nav-link, body .sidebar-nav-item:first-child {
    
    color: #353F69;;
    border-bottom: 0px;
}

body .sidebar-nav-link:focus, body .sidebar-nav-link:hover {
    background-color: rgba(7, 68, 221, 0.089);
    border-radius: 0px 50px 50px 0px;
    color: #0744DD;
}

body .sidebar-nav-link.active i {
    color: #0744DD;
}

body .sidebar-nav-link i, 
body .sidebar-nav-link i.ion-ios-book-outline, 
body .sidebar-nav-link i.ion-ios-chatboxes-outline {
    font-size: 18px;
}


body .sidebar-nav-link i {
    /* font-size: 13px; */
    color: #353F69;
}

/* ---------- Dashboard- ----------  */
body .slim-pageheader {
    flex-direction: unset;
}

body .slim-pagetitle {
    padding-left: 0px;
    border-left: 0px;
    text-transform: none;
    font-weight: 500;
}

body .dashboard-title {
    font-size: 30px;
    color: #48446F;
}

@media (min-width: 768px) {

    body .slim-body .slim-mainpanel .container {
        padding: 50px;
    }

}



body .signin-box {
    border: 1px solid #DADCE0;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #D7D7E0;
    width: 500px;
}

body .signin-title-secondary {
    margin-bottom: 0px;
    color: #697788;
    font-size: 18px;
}
body .signup-tc {
    margin-bottom: 0px;
    color: #697788;
    font-size: 14px;
    width: calc(100% - 70px);
    margin-top: 20px;
}
body .signin-title-primary-2{
    margin-bottom: 0px;
    font-size: 21px;
    font-weight: 600;
    color: #444971;

}

.pss-blue p {
    margin-bottom: 0px !important;
}

.signup-login {
        position: absolute;
        bottom: 15%;
        left: 0;
        right: 0;
        text-align: center;
    }

.final {
        bottom: 0;
    }

body .slim-mainpanel {

        background: url(../assets/hero-bg.svg);
        background-position: 10px 50px;
        /* background-size: contain; */
        background-repeat: no-repeat;
    }


body div#password .form-group {
    max-width: calc(100% - 3rem);
    }
body #password .input-group-text {
    align-items: unset;
    padding: .6rem 0.75rem;
    background-color: transparent;
    border: 0px;
    color: #444971;
}
body #password .input-group-text .fa {
    font-size: 25px;
}

.signup-success img {
    margin: 40px auto;
    height: 8rem;
}

body .signup-logo a img {
    height: 52px
}

body div#pss-user-otp input[type="password"] {
    overflow: visible;
    width: 14%;
    border: 1px solid #DEE5E9;
    outline: 0;
    background: transparent;
    text-align: center;
    padding: 3px;
    font-size: 30px;
    color: #444971;
    border-radius: 4px;
    margin-right: 7px;
}
body div#pss-user-otp input[type="password"]:focus,  
body div#pss-user-otp input[type="password"]:active{

    outline: none;
    border: 2px solid #0744DD;
    border-radius: 4px;
}


.pss-header-h-1 {
    color: #444971;
    font-family: MarkPro;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 38px;
  }
  .pss-header-p {
    color: #444971;
    font-family: MarkPro;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 38px;
  }
@media (min-width:740px) {
  .pss-header {
      max-width: 63%;
  }
}

.dashboard-search {
    display: inline-block;
}

body .dashboard-search .pss-search-header {
    flex-direction: unset;
}

body .dashboard-search .pss-search-header .form-control {
    padding-left: 10px;
}

body .dashboard-search .btn {
    margin: -2px;
    border-radius: 0px 6px 6px 0px;
    background-color: #DFE7FA;
    color: #0744DD;

}

body .dashboard-search input.form-control {
    padding: 0px;
}

body .pssCard {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 4px 14px 0 rgba(7, 68, 221, 0.1);
    transition: 0.3s;
}


body .card {
    transition: display 0.3s ease-in-out;
}


body .pssCard img.user-brands  {
    max-height: 20px;
    margin-bottom: 8px;
    
}


body .user-brand-text {
    color: #637381;
    transition: 0.3s;
}

body .user-brand-name {
    color: #222;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

body .pssCard .card-body {
    padding-bottom:0px;
    transition: 0.3s;
}

body .pssCard .card-link {
    text-align: center;
    background-color: rgba(7, 68, 221, 0.1);
    padding: 5px;
    display: none;
    transition: 0.3s;
}
body .pssCard .card-link a {
    color: #0744DD;
}

body .card:hover .user-brand-text {
    display: none;
}
body .card:hover .card-link {
    display: block;
}

body .pssCard:hover {
    border: 1px solid #0744DD;
}

